
    <h1 class="center">About us</h1>
        <p class="center">Zerotavi は “海外に行ってみたい、挑戦してみたい”日本の大学生を心から応援します。</p>
        <p class="center">渡航費がない。海外って怖い。　でも</p>
        <p class="center">日本政府や民間企業、はたまた海外の団体がほとんど無料で</p>
        <p class="center">若者に奨学金や研修、インターンシップ、様々な形で若者が国際的な経験を積む機会を提供しています。</p>
        <p class="center">その機会の情報をもっと多くの人が手軽に手に入れられますように、</p>
        <p class="center">Zerotaviを通じて海外に飛び出していける、そういう想いを込めて作りました。</p>
    <h3 class="center">藤井　根橋　町田</h3>